<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.tailwindcss.com"></script>
		<title>{% block title %}{% endblock %} | K-Commerce </title>
	</head>

	<body>
		<nav class = "py-6 px-6 flex justify-between items-center border-b border-gray-200">
			<a href = "/" class = "text-xl font-semibold">K-commerce</a>
			
			<div class= "space-x-6">
					<a href = "{% url 'item:new' %}" class = "px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded hover:bg-teal-700"> SELL </a>
				{% if request.user.is_authenticated %}
					
					<a href = "{% url 'item:browse' %}" class = "text-lg font-semibold hover:text-gray-500"> Browse</a>
					<a href = "{%url 'conversation:inbox' %}" class = "px-6 py-3 text-lg font-semibold bg-green-500 text-white rounded-xl hover:bg-teal-700">Inbox</a>
					<a href = "{% url 'dashboard:index' %}" class = "px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">My Items</a>
					<a href = "{% url 'core:edit_profile' %}" class = "px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-gray-700">Profile</a>
					<a href = "{% url 'core:logout' %}" class = "px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-gray-700">Logout</a>
				{% else %}
					<a href = "{% url 'core:signup' %}" class = "text-lg font-semibold hover:text-gray-500">Sign-up</a>
					<a href = "{% url 'core:login' %}" class = "text-lg font-semibold hover:text-gray-500">Login</a>
				{% endif %}
			</div>
		</nav>
		<div class = "px-6 py-6">
			{% block content %}
			{% endblock %}
		</div>

		<footer class = "py-3 px-6 flex justify-between bg-gray-800">
			<div class = "w-2/3 pr-10">
				<h2 class = "mb-5 font-semibold text-gray-100">About</h2>
				<p class = "text-lg text-gray-100">An e-commerce website for you to sell or buy k-pop related merchandise.</p>
			</div>

			<div class = "w-1/3">
				<h3 class = "mb-5 font-semibold text-gray-300">Menu</h3>
				<ul class= "space-y-2">
					<li><a href = "{% url 'core:contact' %}" class = "text-lg text-teal-500 hover:text-teal-700">Contact</li>
					<li><a href = "{% url 'core:privacy' %}" class = "text-lg text-teal-500 hover:text-teal-700">Privacy</li>
					<li><a href = "{% url 'core:terms' %}" class = "text-lg text-teal-500 hover:text-teal-700">Terms</li>


				</ul>
			</div>
		</footer>
	</body>
</html>