{% extends 'core/base.html' %}

{% block title %} Privacy {% endblock %}

{% block content %}
<h1>We may collect and receive the following information. Please note that not all of our Services collect all of the information listed below:</h1><br>
<ul>
	<li>
<p>Account credentials such as username.</p><br>
<p></p>Profile information such as, name and email address</p><br>
<p></p>Location information such as last known location.</p><br>
<p></p>Any other information disclosed by you in any of the above-mentioned methods and/or through the use of our Services.<br>
<p></p>Aggregate data collected through the use of our Services.</p><br>
<p></p>Any communications between you and another user of our Services. </p><br>
	</li>
</ul>
{% endblock %}