{% extends 'core/base.html' %}

{% block title %} Terms {% endblock %}

{% block content %}
<h1>You shall use the Services in accordance with these Terms and shall not:</h1><br>
<ul>
	<li>
<p>Upload any Content (as defined below) that violates or infringes another party’s rights of publicity, privacy, copyright, trademark or any other intellectual property right.</p><br>
<p></p>Copy, decompile, reverse engineer, disassemble, attempt to derive the source code of, decrypt, interfere with, or disrupt the integrity or the performance of the Services.</p><br>
<p></p>Make any modification, adaptation, improvement, enhancement, translation or derivative work from the Services.</p><br>
<p></p>Violate any applicable laws, rules or regulations in connection with your access or use of the Services.<br>
<p></p>Use the Services in violation of or to circumvent any sanctions or embargo.</p><br>
<p></p>Use the Services for any purpose for which it is not designed or intended. </p><br>
	</li>
</ul>
{% endblock %}